body{
    margin-bottom: 40px;
    overflow: hidden;
    overflow-wrap: break-word;
}

img {
    max-width: 100%;
}

.toast {
    font-family: "Roboto", sans-serif;
}

.v-chip {
    margin: 0 10px 10px 0;
}

input[type="file"] {
    display: none;
}

.v-item-group.v-bottom-navigation .v-btn {
    min-width: 0;
    width: 55px;
}

/* Animations */
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}